#

x-service: &service
  logging: { options: { max-size: "1m" } }
  restart: "always"
  stop_grace_period: "5s"
  cap_drop: [ "ALL" ]
  #read_only: true
  security_opt: [ "no-new-privileges:true" ]
  user: "1000:1000"
  mem_limit: 1024m

services:

  openwebui:
    <<: *service
    image: "ghcr.io/open-webui/open-webui:main"
    environment:
      OAUTH_SESSION_TOKEN_ENCRYPTION_KEY: "${OAUTH_SESSION_TOKEN_ENCRYPTION_KEY:?}"
      WEBUI_AUTH: False
      WEBUI_AUTH_TRUSTED_EMAIL_HEADER: "Remote-Email"
      WEBUI_AUTH_TRUSTED_GROUPS_HEADER: "Remote-Groups"
      WEBUI_SECRET_KEY: "${WEBUI_SECRET_KEY:?}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.openwebui.middlewares=auth@file,openwebui"
      - "traefik.http.middlewares.openwebui.stripprefix.prefixes=/openwebui"
      - "traefik.http.routers.openwebui.rule=HostRegexp(`^openwebui(-[0-9a-z]+)?[.]`) || PathRegexp(`^/openwebui($|/)`)"
      - "traefik.http.services.openwebui.loadbalancer.server.port=8080"
    networks: [ "inet", "traefik" ]
    volumes:
      - "./.local/data:/app/backend/data"

networks:
  inet: { external: true }
  traefik: { external: true }
