#

x-service: &service
  logging: { options: { max-size: "1m" } }
  restart: "always"
  stop_grace_period: "5s"
  cap_drop: [ "ALL" ]
  read_only: true
  security_opt: [ "no-new-privileges:true" ]
  mem_limit: 256m

services:

  gatus:
    <<: *service
    image: "akozlins/gatus"
    environment:
      - "GATUS_CONFIG_PATH=/config"
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.gatus.stripprefix.prefixes=/gatus"
      - "traefik.http.routers.gatus.middlewares=auth@file,gatus"
      - "traefik.http.routers.gatus.rule=PathRegexp(`^/gatus($|/)`)"
      - "traefik.http.services.gatus.loadbalancer.server.port=8080"
    networks: [ "inet", "traefik" ]
    user: "1000:1000"
    volumes:
      - "./config:/config"

networks:
  inet: { external: true }
  traefik: { external: true }
