#

x-service: &service
  logging: { options: { max-size: "1m" } }
  restart: "always"
  stop_grace_period: "5s"
  mem_limit: 2048m

services:

  emby:
    <<: *service
    image: emby/embyserver
    devices:
      - /dev/dri:/dev/dri # VAAPI/NVDEC/NVENC render nodes
    environment:
      - UID=1000
      - GID=1000
      - GIDLIST=1000
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.emby.middlewares=auth@file"
      - "traefik.http.routers.emby.rule=PathRegexp(`^/(emby|embywebsocket)($|/)`)"
      - "traefik.http.services.emby.loadbalancer.server.port=8096"
    networks: [ "traefik" ]
    volumes:
      - "./.local/config:/config"
      - "./.local/youtube:/youtube:ro"

networks:
  traefik: { external: true }
