#

x-service: &service
  logging: { options: { max-size: "1m" } }
  restart: "always"
  stop_grace_period: "5s"
  user: '1000:1000'
  mem_limit: 256m

services:

  matrix:
    <<: *service
    image: "matrixdotorg/synapse"
    depends_on: [ "postgres" ]
    environment:
      - "GID=1000"
      - "UID=1000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.matrix.rule=PathRegexp(`^/(_matrix|_synapse)/`)"
      - "traefik.http.services.matrix.loadbalancer.server.port=8008"
    networks: [ "default", "inet", "traefik" ]
    volumes:
      - "./data:/data:rw"

  postgres:
    <<: *service
    image: "postgres:18"
    environment:
      POSTGRES_INITDB_ARGS: '--encoding=UTF-8 --lc-collate=C --lc-ctype=C'
      POSTGRES_DB: 'synapse'
      POSTGRES_PASSWORD: 'secretpassword'
      POSTGRES_USER: 'synapse_user'
    networks: [ "default" ]
    volumes:
      - "./.local/postgres:/var/lib/postgresql/18/docker"
    read_only: false

  element:
    << : *service
    image: "vectorim/element-web"
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.element.stripprefix.prefixes=/element"
      - "traefik.http.routers.element.middlewares=auth@file,element"
      - "traefik.http.routers.element.rule=PathRegexp(`^/(element)($|/)`)"
      - "traefik.http.services.element.loadbalancer.server.port=80"
    networks: [ "inet", "traefik" ]
    profiles: [ "TEST" ]

  thelounge:
    << : *service
    image: "ghcr.io/thelounge/thelounge:latest"
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.thelounge.stripprefix.prefixes=/thelounge"
      - "traefik.http.routers.thelounge.middlewares=auth@file,thelounge"
      - "traefik.http.routers.thelounge.rule=PathRegexp(`^/(thelounge)($|/)`)"
      - "traefik.http.services.thelounge.loadbalancer.server.port=9000"
    networks: [ "inet", "traefik" ]
    volumes:
      - "./.local/thelounge:/var/opt/thelounge"
    profiles: [ "test" ]

networks:
  default: { internal: true }
  inet: { external: true }
  traefik: { external: true }
