#

x-service: &service
  logging: { options: { max-size: "1m" } }
  restart: "always"
  stop_grace_period: "5s"

x-uv: &uv
  <<: *service
  environment:
    HOME: "/home/1000"
    XDG_DATA_HOME: "/home/1000/.cache"
    PYTHONPYCACHEPREFIX: "/home/1000/.cache/pycache"
    PYTHONUNBUFFERED: 1
    UV_PROJECT_ENVIRONMENT: ".cache/venv"
  user: "1000:1000"
  working_dir: "/home/1000"

services:

  jupyter:
    <<: *service
    image: "quay.io/jupyter/scipy-notebook:latest"
    command: [ "start-notebook.sh",
      "--NotebookApp.base_url=/jupyter", "--NotebookApp.token=",
      "--FileCheckpoints.checkpoint_dir=.cache/ipynb_checkpoints",
    ]
    environment:
      - "NB_GID=1000"
      - "NB_UID=1000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jupyter.middlewares=auth@file"
      - "traefik.http.routers.jupyter.rule=PathRegexp(`^/jupyter($|/)`)"
      - "traefik.http.services.jupyter.loadbalancer.server.port=8888"
    networks: [ "inet", "traefik" ]
    volumes:
      - "./.local/jovyan:/home/jovyan"

  marimo:
    <<: *uv
    image: "ghcr.io/astral-sh/uv:debian"
    command:
      - /bin/bash
      - -c
      - |
        uv add --upgrade marimo
        uv run --compile-bytecode marimo edit --host=0.0.0.0 -p 8080 --base-url=/marimo --no-token
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.marimo.middlewares=auth@file"
      - "traefik.http.routers.marimo.rule=PathRegexp(`^/marimo($|/)`)"
      - "traefik.http.services.marimo.loadbalancer.server.port=8080"
    networks: [ "inet", "traefik" ]
    volumes:
      - "./.local/marimo:/home/1000"

networks:
  inet: { external: true }
  traefik: { external: true }
