#

{
    admin off
    auto_https off
    persist_config off
    servers {
        trusted_proxies static private_ranges
    }
    storage_clean_interval off
}

:8080 {
    root * /var/www/html
    php_fastcgi php:9000
    file_server
}
