#

{
    admin off
    auto_https off
    grace_period 1s
    log error {
        format filter {
            headers delete
            request>headers delete
        }
        level DEBUG
        include http.log.error
    }
    persist_config off
    servers {
        protocols h1
        trusted_proxies static private_ranges
    }
    storage_clean_interval off
}

# traefik:443 -> caddy:80 -> services:
# - files
# -.well-known
# - webfinger
:80 {
    root * /opt/html
    templates
    file_server

    @matrix path /.well-known/matrix/*
    handle @matrix {
        templates {
            mime application/json
        }
        try_files {path}.json
    }

    @webfinger {
        path /.well-known/webfinger
        #vars resource {query.resource}
        #expression `{query.resource}.matches(r"[^/@]+@[^/@]+")`
        query resource=acct:security@{$DOMAIN}
    }
    handle @webfinger {
        templates {
            mime application/json
        }
        try_files {path}.json
    }
}

# 0.0.0.0:80 -> caddy:8080 -> services:
# - conn.check
# - whoami
# - redirect http to https
:8080 {
    # connectivity check
    @204 path /204
    handle @204 {
        respond "" 204
    }

    @whoami path /whoami
    handle @whoami {
        reverse_proxy http://whoami:80
    }

    handle {
        redir https://{host}{uri}
    }
}
