#

{
    log {
        output stdout
    }
    servers {
        trusted_proxies static private_ranges
    }
}

:80 {
    root * /opt/html
    templates
    file_server
}

:8080 {
    @whoami path /whoami
    handle @whoami {
        reverse_proxy http://whoami:80
    }
    handle {
        redir https://{host}{uri}
    }
}
