#

{
    log {
        output stdout
    }
    servers {
        trusted_proxies static private_ranges
    }
}

:80 {
    root * /opt/html
    templates
    file_server

    @matrix path /.well-known/matrix/*
    handle @matrix {
        templates {
            mime application/json
        }
        try_files {path}.json
    }

    @webfinger {
        path /.well-known/webfinger
        #vars resource {query.resource}
        #expression `{query.resource}.matches(r"[^/@]+@[^/@]+")`
        query resource=acct:security@{$DOMAIN}
    }
    handle @webfinger {
        templates {
            mime application/json
        }
        try_files {path}.json
    }
}

:8080 {
    @whoami path /whoami
    handle @whoami {
        reverse_proxy http://whoami:80
    }
    handle {
        redir https://{host}{uri}
    }
}
