#

# <https://docs.portainer.io/v/ce-2.11/advanced/reverse-proxy/nginx>

x-service: &service
  logging: { options: { max-size: "1m" } }
  restart: "always"
  stop_grace_period: "5s"
  cap_drop: [ "ALL" ]
  read_only: true
  security_opt: [ "no-new-privileges:true" ]
  user: "1000:1000"

services:
  portainer:
    <<: *service
    image: "portainer/portainer-ce"
    command: [
      "--admin-password-file", "/data/admin_password.key",
    ]
    group_add: [ "${DOCKER_GID:?}" ]
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.portainer.stripprefix.prefixes=/portainer"
      - "traefik.http.routers.portainer.middlewares=auth@file,portainer"
      - "traefik.http.routers.portainer.rule=PathRegexp(`^/portainer($|/)`)"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"
    networks: [ "traefik" ]
    volumes:
      - "./.local:/data"
      - "/var/run/docker.sock:/var/run/docker.sock"

networks:
  traefik: { external: true }
